{% extends "admin.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

{% block content %}
    <div class="col-md-10">
    {% if display_link %}
        <h1 align="center" style="color: blue;">友情链接</h1>
        <h2 align="center" style="color: {{ link.title_color }};"></h2>
        <div style="position: absolute;margin-top: -150px;">
            <button onclick="javascript:history.back()">
                回到列表
            </button>
        </div>
    {% endif %}
    {% if empty %}
        <h1>没有设置链接，请添加。</h1>
        <a href="{{ url_for('administer.relation_link', set_link=1) }}">
            <button>添加链接</button>
        </a>
    {% endif %}
    {% if pagination %}

        <table class="table table-striped">
            <caption style="font-size: 25px;font-weight: 100;">
                链接列表&nbsp;&nbsp;
                    <span style="font-size: small"> 列表项：{{ pagination.items.__len__() }} &nbsp; 
                        <a href="{{ url_for('administer.relation_link', link_list=0, set_link=1) }}">
                            <button>添加</button>
                        </a>
                    </span>
            </caption>
            <thead>
                <tr>
                    <th>链接名称</th>
                    <th>链接地址</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                {% for link in pagination.items %}
                    <tr>
                        <td><a href="{{ url_for('administer.relation_link', link_list=0, link_id=link.id,
                                display_link=1) }}" >
                                {{ link.link_name }}
                            </a>
                        </td>
                        <td><a href="{{ link.link_url}}">
                                {{ link.link_url }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('administer.relation_link', set_link=1, link_list=0,
                                link_id=link.id) }}">
                                <button id="change_question" class="btn btn-warning">修改
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('administer.relation_link', delete_link=1, link_list=0,
                                link_id=link.id) }}">
                                <button id="delete_question" class="btn btn-danger">删除
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'administer.relation_link') }}
        </div>

    {% endif %}

    {% if form %}
        <div class="loginHtml">
            <div class="row">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% endblock %}

{% block script %}

{% endblock %}